/* Palette : http://paletton.com/#uid=73f1m0k9chi5OIC90oG7-77dB3Q */

html,body{
    min-height:100%;
}

body {
    margin:0;
    padding:0;
    background:#000;
    font-family:"Roboto", sans-serif;
    overflow:hidden;
}

.container {
    padding: 0;
    margin: 0;
    position:absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:#000;
}

body .dg.main {
    font-family: "Roboto", sans-serif;
    position:absolute;
    right:0px;
    top:0px;
}

body .dg .close-button {
    display:none;
}

body .dg li:not(.folder) {
    background-color: rgba(0,0,0,0.65);
}

body .dg .cr:not(.function) {
    border-left: 0 !important;
}

body .dg .cr.function {
    border-left: 3px solid #888 !important;
}

body .dg .c .slider .slider-fg, body .dg .c .slider:hover .slider-fg {
    background:#EEE;
}

body .dg .cr .c input[type=text] {
    color:#EEE;
}

body .dg .cr.function .property-name {
    width: 90%;
    font-weight:bold;
}

.city {
    display: none;
    position : absolute;
    width : 3px;
    height : 3px;
    background: #CCC;
    border: 1px solid #222;
    transition: background, transform 0.15s linear;
}

.city.highlighted {
    transform: scale(3);
    background: #FFF;
    z-index:10;
}

.display-cities .city {
    display:block;
}

.loading-overlay {
    display:none;
    padding: 0;
    margin: 0;
    position:absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index:100;
}

.loading .loading-overlay {
    display:block;
}

.github {
    position:absolute;
    right: 0px;
    bottom: 0px;
    display:block;
    width:32px;
    height:32px;
    text-indent:-99999px;
    background-image:url(../../img/github-logo.png);
    transform: scale(0.75);
    opacity:0.5;
}

.github:hover {
    opacity:1;
}
